#root{
    display:grid;
    grid-template-rows: 60px 100% 60px;
    grid-template-columns: 0.5fr 950px 0.5fr;
    gap:10%;
}

.header{
    grid-column: span 3;
}

.statTable{
    grid-column-start: 2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-gap:5%
}

.listT{
    background-color: rgba(249, 249, 249, 0.823);
    border-radius:15px;
    margin-top: 0px;
    
}

.goals{
    font-family: "Roboto Condensed", sans-serif;
    float:right;
    position:absolute;
    right:15px;
    color:#1C2C5B;
}

.name{
    float:left;
    font-family: "Roboto Condensed", sans-serif;
    color:#1C2C5B;
}

.individualcard{
    border-bottom:2px solid grey;
}

.Heading{
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    color:#1C2C5B;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    padding:1rem;
    border-bottom: 2px solid #1C2C5B;
    background-color: #6CABDD;
    border-radius: 15px;

}

.flex-container{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width:-moz-fit-contentfit-content;
    border:1px solid rgb(180, 180, 180);
    border-radius:15px;
    background-color: rgba(249, 249, 249, 0.823);
    max-height:350px;
}

.viewlist{
    position:relative;
    text-align: right;
    right:10px;
    bottom:0px; 
    font-family: "Roboto Condensed", sans-serif;
    color:#1C2C5B;
    text-decoration: none;
}

.footer{
    grid-column: span 3;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: -1;
    grid-row-end: -2;
}
